/* Hide default browser eye icon (Chrome/Safari) */
input::-ms-reveal,
input::-ms-clear,
input::-webkit-contacts-auto-fill-button,
input::-webkit-credentials-auto-fill-button {
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}
