.consent-container {
    max-width: 80%;
    margin: 60px auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.08);
    font-family: 'Segoe UI', sans-serif;
  }
  
  .consent-title {
    font-size: 24px;
    font-weight: 600;
    color: #00775c;
    margin-bottom: 20px;
  }
  
  .consent-description {
    font-size: 16px;
    color: #333;
    margin-bottom: 30px;
  }
  
  .consent-checkbox {
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 15px;
  
    input[type='checkbox'] {
      margin-top: 4px;
    }
  
    label {
      flex: 1;
      cursor: pointer;
    }
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
  }
  
  
  .submit-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 28px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:disabled {
      background-color: #cccccc;
      cursor: not-allowed;
    }
  
    &:hover:not(:disabled) {
      background-color: #0056b3;
    }

  
  }
  /* loader.component.css */
 .overlay-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

    .spinner {
      border: 8px solid #f3f3f3;
      border-top: 8px solid #00775c;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      animation: spin 1s linear infinite;
    }
    
    @keyframes spin {
      0%   { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

    .pdf-scroll-container {
      //flex: 1;
      overflow-y: auto;
      border: 1px solid #ccc;
      border-radius: 12px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      background-color: #fafafa;
      padding: 8px;
      margin-bottom: 20px;
      height: 800px;
      
    }
    
    .pdf-scroll-container embed {
      width: 100%;
      height: 100%;
      border: none;
    }